
<h2>Оставьте свой отзыв</h2>
<form action="" method="POST">
  <label>Имя<br /><input type="text" name="author" /></label><br />
  <label>Ваш отзыв<br /><textarea
      name="text"
      cols="30"
      rows="10"
    ></textarea></label><br />
  <input type="submit" name="submit">
</form>

